html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  @media (prefers-color-scheme: dark) {
    background-color: $black;
    color: $white;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @include screen-max($large) {
    max-width: 768px;
  }
  @include screen-max($medium) {
    max-width: 616px;
  }
  @include screen-max($small) {
    max-width: 280px;
  }
}

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
